<div class="form-group">
  <%= f.label :address_1, :class => "col-lg-2 control-label" %>
  <div class="col-lg-10">
    <%= f.text_field :address_1, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :address_2, :class => "col-lg-2 control-label" %>
  <div class="col-lg-10">
    <%= f.text_field :address_2, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :city, :class => "col-lg-2 control-label" %>
  <div class="col-lg-10">
    <%= f.text_field :city, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :state, :class => "col-lg-2 control-label" %>
  <div class="col-lg-10">
    <%= f.select :state, options_for_select(us_states, current_user.state), {},  :class => "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :zip, :class => "col-lg-2 control-label" %>
  <div class="col-lg-10">
    <%= f.text_field :zip, class: "form-control" %>
  </div>
</div>