
<div class="form-group">
  <%= f.label :job_title, :class => "col-lg-2 control-label" %>
  <div class="col-lg-10">
    <%= f.text_field :job_title, class: "form-control", :placeholder => "Job Title" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :phone, :class => "col-lg-2 control-label" %>
  <div class="col-lg-10">
    <%= f.text_field :phone, :class => "form-control", :placeholder => "(###)###-####" %>
  </div>
</div>

<!--<div class="form-group">
  <%= f.label :age, :class => "col-lg-2 control-label" %>
  <div class="col-lg-10">
    <%= f.number_field :age, :class => "form-control", :placeholder => "Your age", :min => "0", :max => "125" %>
  </div>
</div>-->

<div class="form-group">
  <%= f.label :gender, :class => "col-lg-2 control-label" %>
  <div class="col-lg-10">
    <%= f.select :gender, options_for_select(genders), {:selected => params[:id]}, :class => "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :race, :class => "col-lg-2 control-label" %>
  <div class="col-lg-10">
    <%= f.select :race, options_for_select(races), {:selected => params[:id]}, :class => "form-control" %>
  </div>
</div>


<div class="form-group">
  <%= f.label :office_open, :class => "col-lg-2 control-label" %>
  <div class="col-lg-10">
    <div id="openTimePicker" class="input-group date">
      <%= f.text_field :office_open, as: :default, :class => "form-control", :placeholder => "HH:MM AM/PM" %>
      <span class="input-group-addon">
        <span class="fa fa-clock-o"></span>
      </span>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :office_close, :class => "col-lg-2 control-label" %>
  <div class="col-lg-10">
    <div id="closeTimePicker" class="input-group date">
      <%= f.text_field :office_open, as: :default, :class => "form-control", :placeholder => "HH:MM AM/PM" %>
      <span class="input-group-addon">
        <span class="fa fa-clock-o"></span>
      </span>
    </div>
  </div>
</div>