<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div class="row">
    <div class="col-sm-6">
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    </div>
  </div>
<% end %>

<div class="form-group">
  <div class="row-fluid">
    <% if params[:action] == "edit" %>
    <div class="col-xs-12">
      <i><small>(leave blank if you don't want to change it)</small></i>
    </div>
    <% end %>
  </div>
  <%= f.label :password, :class => "col-lg-2 control-label" %>
  <div class="col-lg-10">
    <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :confirmation, :class => "col-lg-2 control-label" %>
  <div class="col-lg-10">
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
</div>


<% if params[:action] == "edit" %>
  <div class="form-group">
    <div class="row-fluid">
      <div class="col-xs-12">
        <i><small>(we need your current password to confirm your changes)</small></i>
      </div>
    </div>
    <%= f.label :current_password, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.password_field :current_password, class: "form-control" %>
    </div>
  </div>
<% end %>