<div class="row">
  <div class="col-xs-12 col-sm-8">
    <h1>Edit your Profile</h1>
    <%= form_for(resource, :as => resource_name,
      :url => registration_path(resource_name), 
      :html => { :role => "form", :class => "form-horizontal" }) do |f| %>

      <%= devise_error_messages! %>

      <h4>Basic</h4>
      <section>
        <%= render 'user_fields', :f => f %>
        
        <% if Rails.env.development? %>
          <%= render 'user_type', :f => f %>
        <% end %>
      </section>

      <h4>Optional</h4>
      <section>
        <%= render 'optional_user', :f => f %>
      </section>
      
      <h4>Address</h4>
      <section>
        <%= render 'address_fields', :f => f %>
      </section>
      
      <h4>Password</h4>
      <section>
         <%= render 'password_confirm', :f => f %>
      </section>

      <%= f.submit "Let's Go!", class: "btn btn-primary", id: "submit_button" %>
      
    <% end #End Form %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= link_to 'Delete Account', user_registration_path, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
  </div>
</div>