<div class="panel widget <%= bg_color %>">
   <div class="row row-table">
      <div class="col-xs-4 text-center <%= bg_color %>-dark pv-lg">
         <em class="<%= icon %> fa-3x"></em>
      </div>
      <div class="col-xs-8 pv-lg">
         <div class="h2 mt0"><%= data %></div>
         <div class="text-uppercase"><%= title %></div>
      </div>
   </div>
</div>