<div class="panel widget">
   <div class="panel-body">
      <div class="clearfix">
         <h3 class="pull-left text-muted mt0"><%= @giving_goal_completion %>%</h3>
         <em class="pull-right text-muted fa fa-money fa-2x"></em>
      </div>
      <p>
         <small class="text-muted">Annual Giving Goal</small>
      </p>
      <div class="progress progress-xs">
         <div role="progressbar" aria-valuenow="<%=@giving_goal_completion%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=@giving_goal_completion%>%" class="progress-bar progress-bar-<%= progress_indicator(@giving_goal_completion) %> progress-bar-striped">
            <span class="sr-only"><%=@giving_goal_completion%>% Complete</span>
         </div>
      </div>
   </div>
</div>