<% if @cycle.target_demo? %>
	<div class="field">
		<%= f.label :target_demo, "Target Demographic" %>   <%= target_demo_req_helper %><br>
		<%= f.text_field :target_demo, :class => "form-control" %>
	</div>
<% end %>
<% if @cycle.other_funding? %>
	<div class="field">
       <label>
          <span data-localize="cycle_form.fields.OTHERFUNDING">Other Funding</span> <%= other_funding_req_helper %>
       </label><br>
       <label class="switch">
          <%= f.check_box :other_funding %>
          <span></span>
      </label>
  </div>
  <div class="field" id="total_budget_container">
  	<%= f.label :total_budget %><br>
    <%= f.text_field :total_budget, :class => "form-control" %>
  </div>
<% end %>
<% if @cycle.description? %>
	<div class="field">
		<%= f.label :detailed_description, "Detailed Description" %>   <%= detailed_description_req_helper %><br>
		<%= f.cktext_area :detailed_description, :class => "form-control" %>
	</div>
<% end %>

<script>
  $('document').ready(function(){
    $('#total_budget_container').addClass("ninja");
  })
  $('#request_other_funding').mouseup(function(){
    var total_budget_field = $('#total_budget_container');
    if (total_budget_field.hasClass("ninja")){
      total_budget_field.removeClass("ninja");
    } else {
      total_budget_field.addClass("ninja");
    }
  });
</script>