<style>
	.status_hot_buttons {display: inline !important;}
	.status_hot_buttons form { display: inline !important;}
</style>
<div class="status_hot_buttons">
	<% if @cycle.status == "Planned" %>
		<%= form_for(@cycle) do |f| %>
			<%= f.hidden_field :status, value: "Open" %>
			<%= f.submit "Open", :class => "btn btn-success btn-xs" %>
		<% end %>
	<% elsif @cycle.status == "Open" %>

		<%= form_for(@cycle) do |f| %>
			<%= f.hidden_field :status, value: "Closed" %>
		<%= f.submit "Close", :class => "btn btn-danger btn-xs" %>

		<% end %>



		<% if 1==2 # Commenting out pause function pending further development %>
		<%= form_for(@cycle) do |f| %> <%= f.hidden_field :status, value: "Paused" %> <%= f.submit "Pause", :class => "btn btn-warning btn-xs" %><% end %>
		<% end %>
	
	<% elsif @cycle.status == "Paused" %>
		<%= form_for(@cycle) do |f| %>
			<%= f.hidden_field :status, value: "Re-Opened" %>
			<%= f.submit "Re-Open", :class => "btn btn-success btn-xs" %>
		<% end %>
	
	<% elsif @cycle.status == "Re-Opened" && 1==2 %>
		<%= form_for(@cycle) do |f| %>
			<%= f.hidden_field :status, value: "Closed" %>
			<%= f.submit "Close", :class => "btn btn-danger btn-xs" %>
		<% end %>
	<% else %>
		<% if 1 == 2 # Commenting out cycle re-open pending development %>
			<%= form_for(@cycle) do |f| %>
				<%= f.hidden_field :status, value: "Re-Opened" %>
				<%= f.submit "Re-Open", :class => "btn btn-success btn-xs" %>
			<% end %>
		<% end %>
	<% end %>
</div>