<table class="table table-condensed" id="to_be_reviewed_requests">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount <% if @underReviewRequests.count > 0 %>Requested<% else %>Awarded<% end %></th>
      <th># of Reviews</th>
      <th> </th>
      <th>Actions</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @requests_for_cycle.each do |request| %>
      <tr>
        <td><%= request.title %></td>

        <td>
          <% if @underReviewRequests.count > 0 %>
            <%= request.amount_awarded %>
          <% else %>
            <%= request.amount_requested %>
          <% end %>
        </td>
        <td>
          <%= Review.where(:request_id => request.id).count %>
        </td>
        <td>
          <%= link_to 'Show', request %>
        </td>
        <td>
          <% if !current_user.admin? %>
            <% myReview = Review.where(:request_id => request.id).where(:user_id => current_user.id) %>
            <% if myReview.count == 0 %>
              <%= link_to 'Review', new_review_path(:cycle_id => request.cycle_id, :project_id => request.project_id, :request_id => request.id, :organization_id => request.organization_id) %>
            <% elsif !myReview.first.review_complete? %>
              <%= link_to 'Review', edit_review_path(myReview.first) %>
            <% end %>
          <% end %>
        </td>
        <td>
          Contact
        </td>
      </tr>
    <% end %>
  </tbody>
</table>