<div class="panel b">
   <div class="panel-body bb">
      <div class="clearfix">
         <div class="pull-left">
            <%= render 'alter_status', :@cycle => @cycle %>
         </div>
         <div class="pull-right">
          <%= link_to 'Delete', @cycle, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" %>
         </div>
      </div>
   </div>
   <div class="panel-body bb">
      <div class="table-grid table-grid-align-middle mv">
         <span>Status Breakdown</span>
         <%= content_tag :div, "", :class => "status_graph", id: "name" %>
         <script>
            $(document).ready(function(){ $('.status_graph').attr('id', '<%= name %>')})
         </script> 
      </div>
   </div>
   <!--<div class="panel-body"></div>-->
   <table class="table bb">
      <tbody>
         <tr>
            <td>
               <strong>Open date</strong>
            </td>
            <td><%= @cycle.open.strftime("%e %b %Y %l:%M %p").to_s %></td>
         </tr>
         <tr>
            <td>
               <strong>Close date</strong>
            </td>
            <td><%= @cycle.close.strftime("%e %b %Y %l:%M %p").to_s %></td>
         </tr>
         <tr>
            <td>
               <strong>Total Applications</strong>
            </td>
            <td><%= Request.where(:cycle_id => @cycle.id.to_s).count %></td>
         </tr>
      </tbody>
   </table>
   <p class="text-right">
    <%= link_to 'View Project', project_path(@cycle.project), :class => "btn btn-link" %>
   </p>
</div>