<div class="panel b">
   <div class="panel-heading">
      <div class="pull-right mt">
         <div class="label label-<%= status_color(@cycle.status) %>"><%= @cycle.status %></div>
      </div>
      <h4 class="mv">
         <span><%= @cycle.name %></span>
      </h4>
   </div>
   <div class="panel-body bb bt">
      <% @applicants[0..5].each do |this_applicant| %>
         <% if this_applicant.avatar_file_name? %>
            <%= image_tag this_applicant.avatar.url(:thumb), :class => "img-circle thumb48" %>
         <% else %>
            <div class="avatar-circle-cy-view">
               <span class="initials">
                  <%= this_applicant.first_name[0].upcase %><%= this_applicant.last_name[0].upcase %>
               </span>
            </div>
         <% end %>
      <% end %>

   </div>
   <div class="panel-body">
      <h4>Project Description</h4>
      <%= @cycle.admin_note.html_safe %>
      <p class="text-right">
         <button type="button" class="btn btn-default">View all documents</button>
      </p>
   </div>
   <% if @cycle.status == "Open" %>
   <div class="panel-body">

   </div>
   <% end %>
</div>