<% @myOrgID = Organization.where(:_id => current_user.organization_id).first.id %>

<%= form_for(@cycle) do |f| %>
  <% if @cycle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cycle.errors.count, "error") %> prohibited this cycle from being saved:</h2>

      <ul>
      <% @cycle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="col-xs-12">
      <div id="cycle_form">
        <h4>Basic</h4>
        <section>
          <%= render 'cycles/form_partials/basic_cycle_questions', :f => f %>
        </section>
        <h4>Instructions</h4>
        <section>
          <%= render 'cycles/form_partials/application_instructions', :f => f %>
        </section>
        <h4>Organization</h4>
        <section>
          <%= render 'cycles/form_partials/organization_questions', :f => f %>
        </section>
        <h4>Details</h4>
        <section>
          <%= render 'cycles/form_partials/request_details', :f => f %>
        </section>
        <h4>Administrative</h4>
        <section>
          <%= render 'cycles/form_partials/admin_details', :f => f %>
        </section>
      </div>
    </div>
  </div>

  <div class="actions" style="margin-top:15px;">
    <% if params[:action] != "edit" %>
      <%= f.submit 'Create Cycle', :class => 'btn btn-success', :id => "create_cycle" %>
    <% else %>
      <%= f.submit 'Edit Cycle', :class => 'btn btn-success', :id => "edit_cycle" %>
    <% end %>
  </div>
<% end %>

<script>
(function(window, document, $, undefined){

  $(function(){

    if ( ! $.fn.validate || ! $.fn.steps ) return;

    $("#cycle_form").steps({
        headerTag: "h4",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        stepsOrientation: "vertical"
    });

  });

})(window, document, window.jQuery);
</script>