<% @myOrgID = Organization.where(:_id => current_user.organization_id).first.id %>

<%= form_for(@cycle) do |f| %>
  <% if @cycle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cycle.errors.count, "error") %> prohibited this cycle from being saved:</h2>

      <ul>
      <% @cycle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name, :class => "form-control" %>
      </div>


      <div class="field">
        
        <%= f.select(:status, {class: 'form-control'}, id: "select2-1") do %>
          <%= options_for_select(cycle_statuses) %>
        <% end %>
      </div>


      <div class="field">
        <% @projectOptions = options_from_collection_for_select(Project.where(:organization_id => @myOrgID), :id, :name) %>
        
        <%= f.select(:project_id, {class: 'form-control'}, id: "select2-1") do %>
          <%= options_for_select(@projectOptions) %>
        <% end %>
      </div>
    
      <div class="field">
        <%= f.label :organization %><br>

        <%= f.text_field :organization_id, :class => "form-control", :value => @myOrgID %>
      </div>
    </div>
  </div>

  <div class="actions" style="margin-top:15px;">
    <%= f.submit 'Create Cycle', :class => 'btn btn-success' %>
  </div>
<% end %>
