<% @myOrgID = Organization.where(:_id => current_user.organization_id).first.id %>

<%= form_for(@cycle) do |f| %>
  <% if @cycle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cycle.errors.count, "error") %> prohibited this cycle from being saved:</h2>

      <ul>
      <% @cycle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="field">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, :class => "form-control" %>
        </div>
      </div>
      <div class="field">
        <div class="form-group">
          <%= f.label :status %>
          <%= f.select(:status, cycle_statuses, {}, { :class => 'form-control' }) %>
        </div>
      </div>
      <div class="field">
        <div class="form-group">
          <%= f.label :project %>
          <% @projectOptions = options_from_collection_for_select(Project.where(:organization_id => @myOrgID), :id, :name) %>
          <%= f.select(:project_id, @projectOptions, {}, { :class => 'form-control' }) %>
        </div>
      </div>

      <div class="field">
        <div class="form-group mb">
           <%= f.label :open %>
          <div id="openTimePicker" class="input-group date">
             <%= f.text_field :open, as: :default, value: f.object.open.try(:strftime,"%e %b %Y %l:%M %p"), :class => "form-control m-b", :placeholder => "DD Mon YYYY HH:MM AM/PM" %>
             <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
             </span>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="form-group mb">
           <%= f.label :close %>
          <div id="closeTimePicker" class="input-group date">
             <%= f.text_field :close, as: :default, value: f.object.close.try(:strftime,"%e %b %Y %l:%M %p"), :class => "form-control m-b", :placeholder => "DD Mon YYYY HH:MM AM/PM" %>
             <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
             </span>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="form-group">
          <%= f.label :admin_note %>
          <%= f.cktext_area :admin_note, :class => "form-control" %>
        </div>
      </div>
    

      <div style="display:none">
        <div class="field">
          <%= f.label :organization %><br>
          <%= f.text_field :organization_id, :class => "form-control", :value => @myOrgID %>
        </div>
      </div>
    </div>
  </div>

  <div class="actions" style="margin-top:15px;">
    <% if params[:action] != "edit" %>
      <%= f.submit 'Create Cycle', :class => 'btn btn-success' %>
    <% else %>
      <%= f.submit 'Edit Cycle', :class => 'btn btn-success' %>
    <% end %>
  </div>
<% end %>
