<%= form_for(@cycle) do |f| %>
  <% if @cycle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cycle.errors.count, "error") %> prohibited this cycle from being saved:</h2>

      <ul>
      <% @cycle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select(:status, cycle_statuses, {}, { :class => 'form-control' }) %>
  </div>
  <div class="field">
    <%= f.label :open %><br>
    <%= f.datetime_select :open, :minute_step => 10 %>
  </div>
  <div class="field">
    <%= f.label :close %><br>
    <%= f.datetime_select :close, :minute_step => 10 %>
  </div>
  <div class="field">
    <%= f.label :budget %><br>
    <%= f.text_field :budget %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <% if @projectID %>
      <%= f.text_field :project_id, :value => @projectID, :class => "form-control" %>
    <% else %>
      <% @projectOptions = options_from_collection_for_select(Project.where(:organization_id => current_user.organization_id), :id, :name) %>
      <%= f.select(:project_id, @projectOptions, {}, { :class => 'form-control' }) %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :organization_id %><br>
    <%= f.text_field :organization_id, :value => current_user.organization_id, :class => "form-control" %>
  </div>
  <br>
  <hr>
  <br>

  <style>
    .nested_table {display:table;}
    .nested_field {display: table-cell;}
  </style>
  <div class="" id="questions">
    <fieldset>
      <h4>Questions</h4>
      <div class="nested_table">
        <div style="display: table-row">
          <div class="nested_field">
            Question Label
          </div>

          <div class="nested_field">
            Question Type
          </div>
          
          <div class="nested_field">
            Question Matcher
          </div>
          
          <div class="nested_field">
            Actions
          </div>
          

        </div>
      </div>
      <div style="display:table-row">
        <%= f.fields_for :questions do |question| %>
          <%= render 'question_fields', f: question %>
        <% end %>
      </div>
      <div class="links">
          <%= link_to_add_association '<i class="br-plus"></i> Add question'.html_safe, f, :questions, :class => "btn btn-default" %>
        </div>
    </fieldset>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>