<div class="panel b">
   <div class="panel-heading">
      <div class="pull-right label label-success"><%= @submittedRequests.count %> Submitted</div>
      <div class="panel-title">Recent Requests</div>
   </div>
   <!-- START list group-->
   <div data-height="180" data-scrollable="" class="list-group">
      <% @recentRequests.each do |thisReq| %>
      <!-- START list group item-->
         <%= link_to request_path(thisReq), :class => "list-group-item" do %>
            <div class="media-box">
               <div class="pull-left">
                  <img src="<%= image_path('angle/user/02.jpg') %>" alt="Image" class="media-box-object img-circle thumb32"    />
               </div>
               <div class="media-box-body clearfix">
                  <small class="pull-right"><%= thisReq.submitted_date.try(:strftime,"%e %b %Y %l:%M %p") %></small>
                  <strong class="media-box-heading text-primary">
                     <span class="circle circle-<%= app_status_indicator(thisReq.status) %> circle-lg text-left"></span>
                        <% thisReqUser = User.where(:id => thisReq.user_id.to_s).first %>
                        <%= thisReqUser.first_name %> <%= thisReqUser.last_name %>
                  </strong>
                  <p class="mb-sm">
                     <small><strong>$<%= thisReq.amount_requested %></strong> <%= thisReq.summary %></small>
                  </p>
               </div>
            </div>
         <!-- END list group item-->
         <% end %>
      <% end %>
   </div>
   <!-- END list group-->
   <!-- START panel footer-->
   <div class="panel-footer clearfix">
      <div class="row-fluid"></div>
   </div>
   <!-- END panel-footer-->
</div>