<%= render 'layouts/partials/page_header' %>

<p>
  <strong>Name:</strong>
  <%= @cycle.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @cycle.status %>
</p>

<p>
  <strong>Open:</strong>
  <%= @cycle.open.strftime("%e %b %Y %l:%M %p").to_s %>
</p>

<p>
  <strong>Close:</strong>
  <%= @cycle.close.strftime("%e %b %Y %l:%M %p").to_s %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @cycle.budget %>
</p>

<p>
  <strong>Project:</strong>
  <%= @cycle.project.name %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @cycle.organization.name %>
</p>

<p>
  <strong>Questions:</strong>
  <ol>
  <% @questions.each do |this_question| %>
      <li><%= this_question.label %> - <%= this_question.type %></li>
  <% end %>
</ol>
</p>

<%= link_to 'Edit', edit_cycle_path(@cycle) %> |
<%= link_to 'Back', cycles_path %>
<% if @cycle.status == "Open" %>
  | <%= link_to 'Apply', new_request_path(:cycle_id => @cycle.id, :project_id => @cycle.project.id) %>
<% end %>
