<%= render 'layouts/partials/page_header' %>

<div class="row">
   <div class="col-lg-8">
      <!-- Main panel-->
      <%= render 'cycle_description' %>
      
      <!-- End Main panel-->
      <% if @cycle.status == "Open" %>
         <%= render 'recent_requests' %>
      <% elsif @cycle.status == "Closed" %>
         <%= render 'closed_cycle_requests' %>
      <% end %>

   </div>
   <div class="col-lg-4">
      <%= render 'cycle_breakdown' %>
   </div>
</div>

<script>
<% if @cycle.status == "Open" %>
   var donutData = [
      {label: "Created", value: <%= @createdRequests.count %>},
      {label: "Submitted",value: <%= @submittedRequests.count %>}
   ];
<% elsif @cycle.status == "Closed" %>
   var donutData = [
      {label: "Submitted",value: <%= @submittedRequests.count %>},
      {label: "Incomplete", value: <%= @incompleteRequests.count %>},
      {label: "Under Review", value: <%= @underReviewRequests.count %>},
      {label: "Closed", value: <%= @closedRequests.count %>},
      {label: "Awarded", value: <%= @awardedRequests.count %>},
      {label: "Payment", value: <%= @paymentRequests.count %>},
      {label: "Complete", value: <%= @projectCompleteRequests.count %>}
   ];
<% end %>
$(document).ready(function(){
   new Morris.Donut({
      element: 'status_donut',
      data: donutData,
      colors: [ '#5d9cec', '#27c24c', '#f05050', '#ff902b', '#000' ],
      resize: true
   });
})
</script>