<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @cycle.name %>
</p>


<p>
  <strong>Organization:</strong>
  <%= @cycle.organization.name %>
</p>


<%= link_to 'Edit', edit_cycle_path(@cycle) %> |
<%= link_to 'Back', cycles_path %>
