<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Base Questions</h3>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <%= render 'associations', :f => f %>

  <hr class="star-primary">

  <h3>Project Questions</h3>
  <% if @project_questions.count > 0 %>
    <% @project_questions.each do |this_question| %>
  
      <div class="field">
        
        <% if this_question.type == "String" %>
          <label><%= this_question.label %></label><br>
          <%= f.text_field this_question.question_matcher, :class => "form-control" %>
  
        <% elsif this_question.type == "Boolean" %>
          <label>
            <label><%= this_question.label %></label><br>
            <%= f.check_box this_question.question_matcher %>
          </label>
        <% end %>
  
      </div>
    <% end %>
  <% end %>

  <hr class="star-primary">
  <h3>Cycle Questions</h3>
  <% if @cycle_questions.count > 0 %>
    <% @cycle_questions.each do |this_question| %>
  
      <div class="field">
        
        <% if this_question.type == "String" %>
          <label><%= this_question.label %></label><br>
          <%= f.text_field this_question.question_matcher, :class => "form-control" %>
  
        <% elsif this_question.type == "Boolean" %>
          <label>
            <label><%= this_question.label %></label><br>
            <%= f.check_box this_question.question_matcher %>
          </label>
        <% end %>
  
      </div>
    <% end %>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
