<style>
   .status_actions {display: inline;}
   .status_actions form {display: inline;}
</style>

<div class="content-heading">
   <% if @primaryAction %>
   <div class="pull-right">
      <%= link_to @primaryActionText.html_safe, @primaryActionPath, :class => "btn btn-primary btn-sm" %>
      
      <div class='status_actions'>
         <% if @rejectAction %>
            <%= form_for(@request) do |f| %>
               <%= f.hidden_field :status, value: "Closed" %>
               <%= f.submit "Reject", :class => "btn btn-danger" %>
            <% end %>
         <% end %>
      </div>

   </div>
   <% end %>
   <!-- END Language list    -->
   <span data-localize="pagetitle.<%= @thisPage %>"><%= @title %></span>
   <small data-localize="subtitles.<%= @thisPage %>"><%= @subtitle %></small>
</div>