<%= render 'layouts/partials/page_header' %>

<div class="row">
  <div class="col-xs-12 col-sm-7">
    <% if @openCycles.count > 0 %>
      <span class="text-success">Open Cycles</span>
      <%= render 'cycle_table', :display => @openCycles %>
    <% end %>

  </div>
  <div class="col-xs-12 col-sm-5">
    <div class="row">
      <div class="col-xs-12">
        <%= render 'your_request_stats' %>
      </div>
    </div>
  </div>
</div>







<p id="notice"><%= notice %></p>

<h1>Listing Requests</h1>
<strong class="text-warning"><%= current_user.id %></strong>
<strong class="text-warning"><%= @yourRequests.count %></strong>
<%= render 'request_table', :display => @yourRequests %>
