<div class="madewith">
    <div class="container">
        <div class="text-center">
            <h3 id="build-with-love" class="section-header-1">Build with love and this awesome tools ...</h3>
        </div>
        <div class="logos row">
            <div class="col-md-2 col-sm-2 col-xs-4">
                <div class="text-center">
                	<%= image_tag "landing_img/landing/logos/less", :class => "img-responsive center-block" %>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4">
                <div class="text-center">
                	<%= image_tag "landing_img/landing/logos/bootstrap", :class => "img-responsive center-block" %>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4">
                <div class="text-center">
                	<%= image_tag "landing_img/landing/logos/grunt-logo", :class => "img-responsive center-block" %>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4">
                <div class="text-center">
                    <%= image_tag "landing_img/landing/logos/yeoman", :class => "img-responsive center-block" %>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4">
                <div class="text-center">
                	<%= image_tag "landing_img/landing/logos/bower-logo", :class => "img-responsive center-block" %>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4">
                <div class="text-center">
                	<%= image_tag "landing_img/landing/logos/nodejs", :class => "img-responsive center-block" %>
                </div>
            </div>
        </div>
    </div>
</div>