<div class="row">
	<div class="col-xs-12">
		<span class="text-muted">The following questions relate to the applicants organization. If you would like to ask the applicant for the following information, check the following switches. Blue indicates true.</span>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="field">
   			<label>
      			<span data-localize="cycle_form.fields.ORGNAME">Name</span>  <%= org_name_helper %>
   			</label><br>
   			<label class="switch">
      			<%= f.check_box :organization_name %>
      			<span></span>
   			</label>
		</div>
		<div class="field">
		   <label>
		      <span data-localize="cycle_form.fields.EIN">EIN/Tax ID</span> <%= org_ein_taxID_helper %>
		   </label><br>
		   <label class="switch">
		      <%= f.check_box :ein_taxID %>
		      <span></span>
		   </label>
		</div>
		<div class="field">
		   <label>
		      <span data-localize="cycle_form.fields.ORGADDY1">Address 1</span> <%= org_address_1_helper %>
		   </label><br>
		   <label class="switch">
		      <%= f.check_box :org_address_1 %>
		      <span></span>
		   </label>
		</div>
		<div class="field">
		   <label>
		      <span data-localize="cycle_form.fields.ORGADDY2">Address 2</span> <%= org_address_2_helper %>
		   </label><br>
		   <label class="switch">
		      <%= f.check_box :org_address_2 %>
		      <span></span>
		   </label>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="field">
		   <label>
		      <span data-localize="cycle_form.fields.ORGCITY">City</span> <%= org_city_helper %>
		   </label><br>
		   <label class="switch">
		      <%= f.check_box :org_city %>
		      <span></span>
		   </label>
		</div>
		<div class="field">
		   <label>
		      <span data-localize="cycle_form.fields.ORGSTATE">State (US)</span> <%= org_state_helper %>
		   </label><br>
		   <label class="switch">
		      <%= f.check_box :org_state %>
		      <span></span>
		   </label>
		</div>
		<div class="field">
		   <label>
		      <span data-localize="cycle_form.fields.ORGZIP">Zip</span> <%= org_zip_helper %>
		   </label><br>
		   <label class="switch">
		      <%= f.check_box :org_zip %>
		      <span></span>
		   </label>
		</div>
		<div class="field">
		   <label>
		      <span data-localize="cycle_form.fields.ORGMISSION">Mission</span> <%= org_mission_helper %>
		   </label><br>
		   <label class="switch">
		      <%= f.check_box :org_mission %>
		      <span></span>
		   </label>
		</div>
	</div>
</div>