<div class="row">
  <div class="col-xs-12">
    <span class="text-muted">The following questions are directed towards the applicant and the project for which they are applying. Again, marking the switches to blue indicates the applicant will see the question asked.</span>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="field">
        <label>
            <span data-localize="cycle_form.fields.TARGETDEMO">Target Demo</span>  <%= target_demo_helper %>
        </label><br>
        <label class="switch">
            <%= f.check_box :target_demo %>
            <span></span>
        </label>
    </div>
    <div class="field">
       <label>
          <span data-localize="cycle_form.fields.PROJOBJECTIVE">Project Objective</span> <%= project_objective_helper %>
       </label><br>
       <label class="switch">
          <%= f.check_box :project_summary %>
          <span></span>
       </label>
    </div>
    <div class="field">
       <label>
          <span data-localize="cycle_form.fields.AMTREQUESTED">Amount Requested</span> <%= amount_requested_helper %>
       </label><br>
       <label class="switch">
          <%= f.check_box :amount_requested %>
          <span></span>
       </label>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="field">
       <label>
          <span data-localize="cycle_form.fields.DETDESC">Detailed Description</span> <%= detailed_description_helper %>
       </label><br>
       <label class="switch">
          <%= f.check_box :description %>
          <span></span>
       </label>
    </div>
    <div class="field">
       <label>
          <span data-localize="cycle_form.fields.PROJSTART">Project Start</span> <%= project_start_helper %>
       </label><br>
       <label class="switch">
          <%= f.check_box :project_start %>
          <span></span>
       </label>
    </div>
    <div class="field">
       <label>
          <span data-localize="cycle_form.fields.PROJEND">Project End</span> <%= project_end_helper %>
       </label><br>
       <label class="switch">
          <%= f.check_box :project_end %>
          <span></span>
       </label>
    </div>
    <div class="field">
       <label>
          <span data-localize="cycle_form.fields.OTHERFUNDING">Other Funding</span> <%= other_funding_helper %>
       </label><br>
       <label class="switch">
          <%= f.check_box :other_funding %>
          <span></span>
       </label>
    </div>
  </div>
</div>
<div style="display:none">
  <div class="field">
    <%= f.label :organization %><br>
    <%= f.text_field :organization_id, :class => "form-control", :value => @myOrgID %>
  </div>
</div>