<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="display:none;">
    <%= f.label :organization_id %><br>
    <%= f.text_field :organization_id, :value => current_user.organization_id, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :annual_budget %><br>
    <%= f.number_field :annual_budget, :class => "form-control" %>
  </div>

  <div class="field">
    <%= f.label :mission %><br>
    <%= f.text_field :mission, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :cycle_budget %><br>
    <%= f.text_field :cycle_budget, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :repeat_type %><br>
    <%= f.select(:repeat_type, project_repeat, {}, { :class => 'form-control' }) %>
  </div>

  <style>
    .nested_table {display:table;}
    .nested_field {display: table-cell;}
  </style>
  <div class="" id="questions">
    <fieldset>
      <h4>Questions</h4>
      <div class="nested_table">
        <div style="display: table-row">
          <div class="nested_field">
            Question Label
          </div>

          <div class="nested_field">
            Question Type
          </div>
          
          <div class="nested_field">
            Question Matcher
          </div>
          
          <div class="nested_field">
            Actions
          </div>
        </div>
      </div>
      <div style="display:table-row">
        <%= f.fields_for :questions do |question| %>
          <%= render 'question_fields', f: question %>
        <% end %>
      </div>
      <div class="links">
          <%= link_to_add_association '<i class="br-plus"></i> Add question'.html_safe, f, :questions, :class => "btn btn-default" %>
        </div>
    </fieldset>
  </div>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
