<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Cycles:</strong><br>
  <% @cycles.each do |thisCycle| %>
  	<%= thisCycle.name %><br>
  <% end %>
</p>

<p>
  <strong>Questions:</strong><br>
  <% @projectQuestions.each do |thisQ| %>
  	<%= thisQ.label %><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
