<%= render 'layouts/partials/page_header' %>

<% if !@has_org %>
  <%= render 'programadmin/base/registration_help/no_org' %>
<% elsif !@has_projects %>
  <%= render 'programadmin/base/registration_help/no_projects' %>
<% elsif !@has_cycles %>
  <%= render 'programadmin/base/registration_help/no_cycles' %>
<% else %>
<div class="row">
    <%= render 'programadmin/base/partials/header_panels' %>
  </div>

<div class="row">
   <div class="col-lg-8 col-md-12">
      <%= render 'programadmin/base/partials/completion_history' %>
   </div>
   <div class="col-lg-4 col-md-12">
      <%= render "programadmin/base/partials/info_bank" %>
   </div>
</div>

<div class="row">
   <div class="col-lg-4">
    <%= render "programadmin/base/partials/request_history" %>
   </div>
   <div class="col-lg-3">
    <div class="row">
      <div class="col-lg-12 col-md-6 col-sm-6">
        <%= render 'programadmin/base/partials/monthly_completes' %>
      </div>
    </div>
   </div>
   <div class="col-lg-5">
    <%= render "programadmin/base/partials/application_dispersion" %>
   </div>
</div>
<style>
#request_history text[y="321.5"]{
  display:none
}
</style>
<%= render 'programadmin/base/partials/scripts/demo' %>

<% end %>
