<div class="container container-md pv-lg">
   <div class="text-center mb-lg pb-lg">
      <div class="h2 text-bold">Select your plan!</div>
      <p>And get going today!</p>
   </div>
</div>
<div class="container container-md">
	<!-- START PLAN TABLE-->
	<div class="row">
		<div class="col-md-2"></div>

   		<% @plans.each do |thisPlan| %>
   			<div class="col-md-4">
   				<div class="plan">
   					<h3 class="plan-header"><%= thisPlan.name %></h3>
   					<div class="plan-price">
   						<div class="text-lg"><sup><small>$</small></sup><%= (thisPlan.amount)/100 %>
   							<!-- span.plan-period /mo-->
   						</div>
   					</div>
   					<ul class="plan-features">
   						<% @features.each do |this_feature| %>
   							<li>
   								<% if (thisPlan.amount == 0 && this_feature.free_tier) || ((thisPlan.amount > 0 && this_feature.paid_tier)) %>
   									<em class="fa fa-check"></em>
								<% else %>
									<em class="fa fa-times plan-feature-disable"></em>
								<% end %>
   								<%= this_feature.name %></li>
   						<% end %>
                		</ul>
                		<hr/>
                		<div class="text-center">
                				<%= form_tag subscriber_path(current_user.id), method: :put do %>
									<%= hidden_field_tag :plan_id, thisPlan.id %>
									<button class="btn btn-info"><%= thisPlan.name %></button>

									<script src="https://checkout.stripe.com/checkout.js" class="stripe-button basic" data-key="<%= Rails.configuration.stripe[:publishable_key]%>" data-description="Monthly Subscription" data-amount="<%= (thisPlan.amount) %>" data-label="<%= thisPlan.name %>"></script>
								<% end %>
                		</div>
            	</div>
   			</div>
   		<% end %>

   	</div>
</div>
<script>
	$(document).ready(function(){
		$('.stripe-button-el').css('display', 'none');
	})
</script>