<!-- START Sidebar (left)-->
<div class="aside-inner">
   <nav class="sidebar" data-sidebar-anyclick-close="">
      <!-- START sidebar nav-->
      <ul class="nav">
         <!-- START user info-->
         <%= render partial: "layouts/partials/userinfo" %>
         <!-- END user info-->
         <!-- Iterates over all sidebar items-->
         <li class="nav-heading">
            <span>Base Navigation</span>
         </li>

         <li class="<%= 'active' if controller?('admin/base') %>">
            <%= link_to admin_dash_path do %>
               <em class="<%= get_icon('dashboard') %>"></em>
               <span data-localize="sidebar.nav.DASHBOARD">Dashboard</span>
            <% end %>
         </li>
         <!-- End Sidebar Item -->

         <li class="<%= 'active' if controller?('organizations') %>">
            <%= link_to organizations_path do %>
               <em class="<%= get_icon('Organization') %>"></em>
               <span data-localize="sidebar.nav.ORGANIZATION">Organizations</span>
            <% end %>
         </li>
         <!-- End Sidebar Item -->

         <li class="<%= 'active' if controller?('projects') %>">
            <%= link_to projects_path do %>
               <em class="<%= get_icon('project') %>"></em>
               <span data-localize="sidebar.nav.PROJECTS">Projects</span>
            <% end %>
         </li>
         <!-- End Sidebar Item -->

         <li class="<%= 'active' if controller?('cycles') %>">
            <%= link_to cycles_path do %>
               <em class="<%= get_icon('CYCLE') %>"></em>
               <span data-localize="sidebar.nav.CYCLES">Cycles</span>
            <% end %>
         </li>
         <!-- End Sidebar Item -->

         <li class="<%= 'active' if controller?('requests') %>">
            <%= link_to requests_path do %>
               <em class="<%= get_icon('Request') %>"></em>
               <span data-localize="sidebar.nav.REQUESTS">Requests</span>
            <% end %>
         </li>
         <!-- End Sidebar Item -->


      </ul>
      <!-- END sidebar nav-->
   </nav>
</div>
<!-- END Sidebar (left)-->