<!-- START Sidebar (left)-->
<div class="aside-inner">
   <nav class="sidebar" data-sidebar-anyclick-close="">
      <!-- START sidebar nav-->
      <ul class="nav">
         <!-- START user info-->
         <%= render partial: "layouts/partials/userinfo" %>
         <!-- END user info-->
         <!-- Iterates over all sidebar items-->
         <li class="nav-heading">
            <span>Program Admin</span>
         </li>

         <li class="<%= 'active' if controller?('programadmin/base') %>">
            <%= link_to programadmin_dash_path do %>
               <em class="icon-speedometer"></em>
               <span data-localize="sidebar.nav.DASHBOARD">Dashboard</span>
            <% end %>
         </li>
         <!-- End Sidebar Item -->

         <li class="<%= 'active' if controller?('organizations') %>">
            <% if current_user.organization_id %>
               <%= link_to organizations_path do %>
                  <em class="fa fa-building-o"></em>
                  <% userOrg = Organization.where(:id => current_user.organization_id).first.name %>
                  <span><%= userOrg %></span>
               <% end %>
            <% else %>
               <%= link_to new_organization_path do %>
                  <em class="fa fa-building-o"></em>
                  <span>New Organization</span>
               <% end %>
            <% end %>
         </li>
         <!-- End Sidebar Item -->

         <% if current_user.organization_id %>
            <li class="<%= 'active' if controller?('projects') %>">
               <%= link_to projects_path do %>
                  <em class="fa fa-file-text-o"></em>
                  <span data-localize="sidebar.nav.PROJECTS">Projects</span>
               <% end %>
            </li>
            <!-- End Sidebar Item -->
   
            <li class="<%= 'active' if controller?('cycles') %>">
               <%= link_to cycles_path do %>
                  <em class="icon-refresh"></em>
                  <span data-localize="sidebar.nav.CYCLES">Cycles</span>
               <% end %>
            </li>
            <!-- End Sidebar Item -->
   
            <li class="<%= 'active' if controller?('requests') %>">
               <%= link_to requests_path do %>
                  <em class="icon-note"></em>
                  <span data-localize="sidebar.nav.REQUESTS">Requests</span>
               <% end %>
            </li>
            <!-- End Sidebar Item -->
         <% end %>


      </ul>
      <!-- END sidebar nav-->
   </nav>
</div>
<!-- END Sidebar (left)-->