<!-- START Sidebar (left)-->
<div class="aside-inner">
   <nav class="sidebar" data-sidebar-anyclick-close="">
      <!-- START sidebar nav-->
      <ul class="nav">
         <!-- START user info-->
         <%= render partial: "layouts/partials/userinfo" %>
         <!-- END user info-->
         <!-- Iterates over all sidebar items-->
         <li class="nav-heading">
            <span data-localize="sidebar.nav.PROGRAMADMIN">Program Admin</span>
         </li>

         <% if current_user.subscribed? %>
            <li class="<%= 'active' if controller?('programadmin/base') %>">
               <%= link_to programadmin_dash_path, :id =>"Dashboard" do %>
                  <em class="icon-speedometer"></em>
                  <span data-localize="common.DASHBOARD">Dashboard</span>
               <% end %>
            </li>
            <!-- End Sidebar Item -->
   
            <li class="<%= 'active' if controller?('organizations') %>" id="">
               <% if current_user.organization_id %>
                  <% userOrg = Organization.where(:id => current_user.organization_id).first %>
                  <%= link_to organization_path(userOrg), :id => "org_tab"  do %>
                     <em class="<%= get_icon('organization') %>"></em>
                     <span><%= userOrg.name %></span>
                  <% end %>
               <% else %>
                  <%= link_to new_organization_path do %>
                     <em class="<%= get_icon('organization') %>"></em>
                     <span data-localize="sidebar.nav.NEWORGANIZATION">New Organization</span>
                  <% end %>
               <% end %>
            </li>
            <!-- End Sidebar Item -->
   
            <% if current_user.organization_id %>
               <li class="<%= 'active' if controller?('projects') %>" id="">
                  <%= link_to projects_path, :id => "project_tab" do %>
                     <em class="<%= get_icon('project') %>"></em>
                     <span data-localize="common.PROJECTS">Projects</span>
                  <% end %>
               </li>
               <!-- End Sidebar Item -->
      
               <li class="<%= 'active' if controller?('cycles') %>">
                  <%= link_to cycles_path, :id => "cycle_tab" do %>
                     <em class="<%= get_icon('Cycle') %>"></em>
                     <span data-localize="common.CYCLES">Cycles</span>
                  <% end %>
               </li>
               <!-- End Sidebar Item -->
      
               <li class="<%= 'active' if controller?('requests') %>" id="">
                  <%= link_to requests_path, :id => "request_tab"  do %>
                     <em class="<%= get_icon('Request') %>"></em>
                     <span data-localize="common.REQUESTS">Requests</span>
                  <% end %>
               </li>
               <!-- End Sidebar Item -->
            <% end %>
         <% end #current_user.subscribed? %>


      </ul>
      <!-- END sidebar nav-->
   </nav>
</div>
<!-- END Sidebar (left)-->