<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name, :class => "form-control" %>
      </div>
      <div class="field">
        <%= f.label :motto %><br>
        <%= f.text_field :motto, :class => "form-control" %>
      </div>
      <div class="field">
        <%= f.label :manager_decision %><br>
        <label class="switch">
          <%= f.check_box :manager_decision %>
          <span></span>
        </label>
      </div>
      <div class="field">
        <%= f.label :manager_project_edit %><br>
        <label class="switch">
          <%= f.check_box :manager_project_edit %>
          <span></span>
        </label>
      </div>
      <div class="field" style="">
        <%= f.label :created_by %><br>
        <!-- Possibly buggy -->
        <%= f.text_field :created_by, :class => "form-control", :value => current_user.id %>
      </div>
    </div>
  </div>
  
  <div class="actions" style="margin-top:15px">
    <%= f.submit :class => 'btn btn-success' %>
  </div>
<% end %>
