<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="container-md">
   <div class="row">
      <div class="col-md-3">
         <div class="panel b">
            <div class="panel-heading bg-gray-lighter text-bold">
               <span data-localize="organization_form.headers.SETTINGS">Settings</span>
            </div>
            <div class="list-group">
               <a href="#basic" data-toggle="tab" class="list-group-item" id="">
                  <span data-localize="organization_form.headers.BASIC">Basic</span>
               </a>
               <a href="#contact" data-toggle="tab" class="list-group-item" id="">
                  <span data-localize="organization_form.headers.CONTACT">Contact</span>
               </a>
               <!--<a href="#advanced" data-toggle="tab" class="list-group-item" id="">
                  <span data-localize="organization_form.headers.ADVANCED">Advanced</span>
               </a>-->
               <!--<a href="#tabSetting3" data-toggle="tab" class="list-group-item">Team</a>-->
            </div>
         </div>
         <div class="row">
          <div class="col-xs-12">
            <div class="actions">
               <%= button_tag(type: 'submit', class: "btn btn-success form-control", id: "submit_org") do %>
                  <% if params[:action] == "edit" %>
                     <span data-localize="organization_form.headers.UPDATE">Update Organization</span>
                  <% else %>
                     <span data-localize="organization_form.headers.CREATE">Create Organization</span>
                  <% end %>
               <% end %>
            </div>
          </div>
         </div>
      </div>
      <div class="col-md-9">
         <div class="tab-content p0 b0">
            <div id="basic" class="tab-pane active">
               <div class="panel b">
                  <div class="panel-heading bg-gray-lighter text-bold">
                     <span data-localize="organization_form.headers.BASIC">Basic</span>
                  </div>
                  <div class="panel-body">
                        <!--<div class="form-group">
                           <label>Picture</label>
                           <input type="file" data-input="false" data-classbutton="btn btn-default" data-classinput="form-control inline" data-buttontext="Upload new picture" data-iconname="fa fa-upload mr" class="form-control filestyle"
                           />
                        </div>-->
                        <div class="form-group">
                           <label>
                              <span data-localize="organization_form.fields.NAME">Name</span>
                           </label>
                           <%= f.text_field :name, :class => "form-control", :required => true %>
                        </div>
                        <div class="form-group">
                           <label>
                              <span data-localize="organization_form.fields.MOTTO">Motto</span>
                           </label>
                           <%= f.text_field :motto, :class => "form-control" %>
                        </div>
                        <div class="form-group">
                           <label>URL</label>
                           <%= f.text_field :url, :class => "form-control" %>
                        </div>
                        <div class="form-group" style="display:none;">
                           <%= f.label :created_by %><br>
                           <!-- Possibly buggy -->
                           <%= f.text_field :created_by, :class => "form-control", :value => current_user.id %>
                        </div>
                        <div class="form-group">
                           <label>Logo</label>
                           <%= f.file_field :logo, class: "form-control", :placeholder => "Your pic!" %>
                        </div>
                        <div class="field">
                           <label>
                              <span data-localize="organization_form.fields.GIVINGGOAL">Annual Giving Goal</span>  <%= annual_giving_goal_helper %>
                           </label><br>
                           <%= f.number_field :annual_giving_goal, :class => "form-control" %>
                        </div>
                  </div>
               </div>
            </div>
            <div id="contact" class="tab-pane">
               <div class="panel b">
                  <div class="panel-heading bg-gray-lighter text-bold">
                     <span data-localize="organization_form.headers.CONTACT">Contact</span>
                  </div>
                  <div class="panel-body">
                        <div class="form-group">
                           <label>
                              <span data-localize="organization_form.fields.ADDRESS">Address</span> 1
                           </label>
                           <%= f.text_field :address_1, :class => "form-control" %>
                        </div>
                        <div class="form-group">
                           <label>
                              <span data-localize="organization_form.fields.ADDRESS">Address</span> 2
                           </label>
                           <%= f.text_field :address_2, :class => "form-control" %>
                        </div>
                        <div class="form-group">
                           <label>
                              <span data-localize="organization_form.fields.CITY">City</span>
                           </label>
                           <%= f.text_field :city, :class => "form-control" %>
                        </div>
                        <div class="form-group">
                           <label>
                              <span data-localize="organization_form.fields.STATE">State</span>
                           </label>
                           <%= f.select :state, options_for_select(us_states), {:selected => params[:id]}, :class => "form-control" %>
                        </div>
                        <div class="form-group">
                           <label>
                              <span data-localize="organization_form.fields.ZIP">Zip Code</span>
                           </label>
                           <%= f.text_field :zip, :class => "form-control" %>
                        </div>
                  </div>
               </div>
            </div>
            
            <!--<div id="advanced" class="tab-pane">
               <div class="panel b">
                  <div class="panel-heading bg-gray-lighter text-bold">
                     <span data-localize="organization_form.headers.ADVANCED">Advanced</span>
                  </div>
                  <div class="panel-body">
                        <div class="field">
                           <label>
                              <span data-localize="organization_form.fields.MGRDECISION">Manager Decision</span>  <%= manager_decision_helper %>
                           </label><br>
                           <label class="switch">
                              <%= f.check_box :manager_decision %>
                              <span></span>
                           </label>
                        </div>
                        <div class="field">
                           <label>
                              <span data-localize="organization_form.fields.MGREDIT">Manager Project Edit</span>  <%= manager_project_edit_helper %>
                           </label><br>
                           <label class="switch">
                              <%= f.check_box :manager_project_edit %>
                              <span></span>
                           </label>
                        </div>
                        <div class="field">
                           <label>
                              <span data-localize="organization_form.fields.GIVINGGOAL">Annual Giving Goal</span>  <%= annual_giving_goal_helper %>
                           </label><br>
                           <%= f.number_field :annual_giving_goal %>
                        </div>
                        <div class="field">
                           <label>
                              <span data-localize="organization_form.fields.CSTTERMS">Custom Terms and Conditions</span>  <%= custom_terms_helper %>
                           </label><br>
                           <label class="switch">
                              <%= f.check_box :custom_terms %>
                              <span></span>
                           </label>
                        </div>

                        <div class="row" id="terms_entry">
                           <div class="col-xs-12">
                              <div class="field">
                                 <div class="form-group">
                                    <%= f.label :terms_conditions %>
                                    <%= f.cktext_area :terms_conditions, :class => "form-control" %>
                                 </div>
                              </div>
                           </div>
                        </div>
                  </div>
               </div>
            </div>-->
         </div>
      </div>
   </div>
</div>
<% end %>

<script>
   $(document).ready(function(){$('#terms_entry').hide()});
   $('#organization_custom_terms').on('click',function(){
      var this_clicked = $(this).is(":checked");
      if(this_clicked)
         $('#terms_entry').slideDown();
      else
         $('#terms_entry').slideUp();

   });
</script>
