<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
   <!-- START navbar header-->
   <div class="navbar-header">
      <a href="#/" class="navbar-brand">
         <div class="brand-logo">
            <!--<img src="<%= image_path('angle/logo_narrow.png') %>" alt="App Logo" class="img-responsive" />-->
            <img src="<%= image_path('logos/header.png') %>" alt="App Logo" class="img-responsive" />
         </div>
         <div class="brand-logo-collapsed">
            <!--<img src="<%= image_path('angle/logo-single.png') %>" alt="App Logo" class="img-responsive" />-->
            <img src="<%= image_path('logos/header_single.png') %>" alt="App Logo" class="img-responsive" />
         </div>
      </a>
   </div>
   <!-- END navbar header-->
   <!-- START Nav wrapper-->
   <div class="nav-wrapper">
      <!-- START Right Navbar-->
      <ul class="nav navbar-nav navbar-right">
         <!--<li><%= link_to "Sign in", new_user_session_path %></li>
         <li><%= link_to "Sign up", new_user_registration_path %></li>-->
      </ul>
      <!-- END Right Navbar-->
   </div>
   <!-- END Nav wrapper-->
</nav>
<!-- END Top Navbar-->