<%= link_to edit_user_registration_path(current_user) do %>
<li class="has-user-block">
   <div id="user-block" class="collapse">
      <div class="item user-block">
         <!-- User picture-->
         <div class="user-block-picture">
            <div class="user-block-status">
               <% if current_user.avatar? %>
                  <%= image_tag current_user.avatar.url(:thumb), :class => "img-thumbnail img-circle", :height => 60, :width => 60 %>
               <% else %>
               <div class="avatar-circle-side">
                  <span class="initials">
                     <%= current_user.first_name[0].upcase %><%= current_user.last_name[0].upcase %>
                  </span>
               </div>
               <% end %>
               <div class="circle circle-success circle-lg"></div>
            </div>
         </div>
         <!-- Name and Job-->
         <div class="user-block-info">
            <span class="user-block-name"><span data-localize="sidebar.nav.HELLO">Hello</span>, <%= current_user.first_name %></span>
            <span class="user-block-role"><%= current_user.job_title %></span>
         </div>
      </div>
   </div>
</li>
<% end %>