<div class="panel panel-<%= request_color(@request.status) %>">
         <div class="panel-heading">
          <table>
            <tr>
              <td>
                <%= @request.organization_name %>
              </td>
              <td>
              </td>
            </tr>
          </table>
         </div>
         <div class="panel-body">
            <ul class="list-unstyled ph-xl">
              <% if @request.organization_ein? %>
                <li>
                  <span data-toggle="tooltip" data-placement="left" title="Gender">
                    <em class="fa fa-user fa-fw mr-lg"></em>
                  </span><%= @request.organization_ein %>
                </li>
              <% end %>

              <% if @request.org_address_1? %>
                <li>
                  <span data-toggle="tooltip" data-placement="left" title="Race">
                    <em class="fa fa-child fa-fw mr-lg"></em>
                  </span><%= @request.org_address_1 %>
                </li>
              <% end %>
              
              <% if @request.org_address_2? %>
                <li>
                  <span data-toggle="tooltip" data-placement="left" title="Age">
                    <em class="icon-clock fa-fw mr-lg"></em>
                  </span><%= @request.org_address_2 %>
                </li>
              <% end %>
              
              <li>
                <span data-toggle="tooltip" data-placement="left" title="Job Title">
                  <em class="icon-briefcase fa-fw mr-lg"></em>
                </span><%= @request.org_city %>, <%= @request.org_state %> <%= @request.org_zip %>
              </li>

              <li>
                <span data-toggle="tooltip" data-placement="left" title="Last Sign In">
                  <em class="fa fa-reply fa-fw mr-lg"></em>
                </span><%= @request.org_mission.html_safe %>
              </li>
            </ul>
         </div>
      </div>