<div class="panel panel-default">
   <div class="panel-heading">
   	Reviews
   </div>
   <div class="panel-body">
   	<% if @requestReviews.count > 0 %>
   		<table class="table table-condensed">
   			<thead>
   				<tr>
   					<td>Review</td>
   					<td>Decision</td>
   				</tr>
   			</thead>
   			<tbody>
   				<% @requestReviews.each do |display| %>
   				<tr>
   					<td><%= display.user.first_name %> <%= display.user.last_name[0] %>.</td>
   					<td>
   						<!--<a type="button" data-toggle="modal" data-target="#review_display" class="">
   							<%= display.decision %>
   						</a>-->
   						<a data-notify="" data-message="<%= display.explanation %>"><%= display.decision %></a>
   					</td>
   				</tr>
   				<% end %>
   			</tbody>
   		</table>
	<% else %>
		<span class="text-warning">No reviews yet</span>
	<% end %>
   </div>
   <% if @myReview.count == 0 %>
   <div class="panel-footer">
   		<%= link_to 'Review', new_review_path(:organization_id => @current_user.organization_id, :project_id => @project.id, :cycle_id => @cycle.id, :request_id => @request.id, ), :class => "btn btn-xs btn-primary" %>
   </div>
   <% end %>  
</div>

<% content_for :body_area do %> 
	<div id="review_display" tabindex="-1" role="dialog" aria-labelledby="review_display" aria-hidden="true" class="modal fade">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" data-dismiss="modal" aria-label="Close" class="close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 id="review_display" class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">...</div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
<% end %>
