<div class="panel panel-<%= request_color(@request.status) %>">
         <div class="panel-heading">
         	<table>
         		<tr>
         			<td>
         				<% if current_user.avatar? %>
                  			<%= image_tag current_user.avatar.url(:thumb), :class => "img-thumbnail img-circle", :height => 60, :width => 60 %>
               			<% else %>
               				<div class="avatar-circle-side">
                  				<span class="initials">
                     				<%= current_user.first_name[0].upcase %><%= current_user.last_name[0].upcase %>
              					</span>
               				</div>
               			<% end %>
         			</td>
         			<td>
         				<span style="position:relative;left:10px;">
         					<%= @applicant.first_name %> <%= @applicant.last_name %>
         				</span>
         			</td>
         		</tr>
         	</table>
         </div>
         <div class="panel-body">
            <ul class="list-unstyled ph-xl">
            	<% if @applicant.gender? %>
              	<li>
                  <span data-toggle="tooltip" data-placement="left" title="Gender">
                    <em class="fa fa-user fa-fw mr-lg"></em>
                  </span><%= @applicant.gender %>
                </li>
        		  <% end %>

              <% if @applicant.race? %>
                <li>
                  <span data-toggle="tooltip" data-placement="left" title="Race">
                    <em class="fa fa-child fa-fw mr-lg"></em>
                  </span><%= @applicant.race %>
                </li>
              <% end %>
              
              <% if @applicant.age? %>
                <li>
                  <span data-toggle="tooltip" data-placement="left" title="Age">
                    <em class="icon-clock fa-fw mr-lg"></em>
                  </span><%= @applicant.age %>
                </li>
              <% end %>
              
              <% if @applicant.job_title? %>
                <li>
                  <span data-toggle="tooltip" data-placement="left" title="Job Title">
                    <em class="icon-briefcase fa-fw mr-lg"></em>
                  </span><%= @applicant.job_title %>
                </li>
        		  <% end %>

              <li>
                <span data-toggle="tooltip" data-placement="left" title="Last Sign In">
                  <em class="fa fa-reply fa-fw mr-lg"></em>
                </span><%= @applicant.last_sign_in_at.strftime("%e %b %Y %l:%M %p").to_s %>
              </li>

			</ul>
         </div>
         <div class="panel-footer">
         	<dl class="dl-horizontal" style="margin-bottom:0px;">
               <dt style="width:70px">Status</dt>
               <dd style="margin-left: 80px;"><span class="text-<%= request_color(@request.status) %>"><%= @request.status %></span></dd>

               <% if @request.submitted_date? %>
                <dt style="width:70px">Submitted</dt>
                <dd style="margin-left: 80px;"><span class="text-<%= request_color(@request.status) %>"><%= @request.submitted_date.strftime("%e %b %Y %l:%M %p").to_s %></span></dd>
               <% end %>
           </dl>
         </div>
      </div>