<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="Bootstrap Admin App + Ruby on Rails">
   <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
   <title><%= "Goodie" || @title %></title>
   <%= favicon_link_tag 'favicon.ico' %>
   <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
   <!-- =============== VENDOR STYLES ===============-->
   <%= stylesheet_link_tag 'base' %>
   <!-- =============== VIEW VENDOR STYLES ===============-->
   <%= stylesheet_link_tag params[:controller] %>
   <!-- =============== APP STYLES ===============-->
   <%= stylesheet_link_tag 'application', media: 'all', id: "maincss" %>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
   <%= csrf_meta_tags %>
</head>

<body>
   <div class="wrapper">
      <!-- top navbar-->
      <header class="topnavbar-wrapper">
         <% if user_signed_in? %>
            <%= render partial: "layouts/partials/topnavbar_loggedIn" %>
         <% else %>
            <%= render partial: "layouts/partials/topnavbar_loggedOut" %>
         <% end %>
      </header>
      <!-- sidebar-->
      <% if user_signed_in? %>
         <aside class="aside">
            <%= render partial: "layouts/partials/sidebars/base" %>   
         </aside>
      <% end %>
      <!-- offsidebar-->
      <aside class="offsidebar hide">
         <%= render partial: "layouts/partials/offsidebar" %>
      </aside>
      <!-- Main section-->
      <% if user_signed_in? %>
         <section>
            <div class="content-wrapper">
               <%= yield %>
            </div>
         </section>
         <!-- Page footer-->
         <footer>
            <%= render partial: "layouts/partials/footer" %>
         </footer>
      <% else %>
         <section style="margin-left: 0px;">
            <div class="content-wrapper">
               <%= yield %>
            </div>
         </section>
         <!-- Page footer-->
         <footer style="margin-left: 0px;">
            <%= render partial: "layouts/partials/footer" %>
         </footer>
      <% end %>
   </div>
   <!-- =============== VENDOR SCRIPTS ===============-->
   <%= javascript_include_tag 'base' %>
   <!-- =============== VIEW VENDOR SCRIPTS ===============-->
   <%= javascript_include_tag params[:controller] %>
   <!-- =============== APP SCRIPTS ===============-->
   <%= javascript_include_tag 'application', 'data-turbolinks-eval' => false %>
   <!-- =============== ANGLE SCRIPTS ===============-->
   <%= javascript_include_tag 'angle' %>

   <%= yield :body_area %> 

</body>

</html>